<h1>Listado de Clientes</h1>

<table class="table table-striped">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>DNI</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.nombre %></td>
    <td><%= cliente.apellido %></td>
    <td><%= cliente.dni %></td>
    <td><%= cliente.email %></td>
    <td><%= link_to 'Ver', cliente, :class => "btn" %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente), :class => "btn" %></td>
    <td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: 'Seguro desea eliminar?' }, :class => "btn" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Cliente', new_cliente_path, :class => "btn btn-success" %>
