<h1>Listing detalle_ventas</h1>

<table>
  <tr>
    <th>Venta</th>
    <th>Producto</th>
    <th>Precio unitario</th>
    <th>Cantidad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @detalle_ventas.each do |detalle_venta| %>
  <tr>
    <td><%= detalle_venta.venta_id %></td>
    <td><%= detalle_venta.producto_id %></td>
    <td><%= detalle_venta.precio_unitario %></td>
    <td><%= detalle_venta.cantidad %></td>
    <td><%= link_to 'Show', detalle_venta %></td>
    <td><%= link_to 'Edit', edit_detalle_venta_path(detalle_venta) %></td>
    <td><%= link_to 'Destroy', detalle_venta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Detalle venta', new_detalle_venta_path %>
