<h1>Listado de Proveedors</h1>

<table class=" table table-striped">
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proveedors.each do |proveedor| %>
  <tr>
    <td><%= proveedor.nombre %></td>
    <td><%= proveedor.email %></td>
    <td><%= link_to 'Ver', proveedor, :class => "btn" %></td>
    <td><%= link_to 'Editar', edit_proveedor_path(proveedor), :class => "btn" %></td>
    <td><%= link_to 'Eliminar', proveedor, method: :delete, data: { confirm: 'Seguro desea eliminar?' }, :class => "btn" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Proveedor', new_proveedor_path, :class => "btn btn-success" %>
