<h1>Listado de Talles</h1>

<table class="table table-striped">
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @talles.each do |talle| %>
  <tr>
    <td><%= talle.nombre %></td>
    <td><%= link_to 'Ver', talle, :class => "btn btn-small" %></td>
    <td><%= link_to 'Editar', edit_talle_path(talle), :class => "btn btn-small" %></td>
    <td><%= link_to 'Eliminar', talle, method: :delete, data: { confirm: 'Seguro desea eliminar?' }, :class => "btn btn-small" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Talle', new_talle_path, :class => "btn btn-success" %>
