<%= form_for(@compra) do |f| %>
  <% if @compra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compra.errors.count, "error") %> prohibited this compra from being saved:</h2>

      <ul>
      <% @compra.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :proveedor_id %><br />
    <%= f.number_field :proveedor_id %>
  </div>
  <div class="field">
    <%= f.label :detalle_compra_id %><br />
    <%= f.number_field :detalle_compra_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
