<h1>Listado de Compras</h1>

<table class=" table table-striped" >
  <tr>
    <th>Proveedor</th>
    <th>Fecha</th>
    <th>Importe</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @total_compras = 0.0 %>

<% @compras.each do |compra| %>
  <tr>
    <td><%= compra.proveedor_id %></td>
    <td><%= compra.fecha %></td>
    <td><%= compra.importe %></td>
    <td><%= link_to 'Ver', compra, :class => "btn" %></td>
    <td><%= link_to 'Editar', edit_compra_path(compra), :class => "btn" %></td>
    <td><%= link_to 'Eliminar', compra, :class => "btn", method: :delete, data: { confirm: 'Seguro desea eliminar?' }, :class => "btn" %></td>
  </tr>
  <% @total_compras = @total_compras + compra.importe %>
<% end %>
</table>

<br />

<h5>Total Compras: <%= @total_compras %></h5> 

<%= link_to 'Nueva Compra', new_compra_path, :class => "btn btn-success" %>
