<h1>Listing compras</h1>

<table>
  <tr>
    <th>Proveedor</th>
    <th>Detalle compra</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @compras.each do |compra| %>
  <tr>
    <td><%= compra.proveedor_id %></td>
    <td><%= compra.detalle_compra_id %></td>
    <td><%= link_to 'Show', compra %></td>
    <td><%= link_to 'Edit', edit_compra_path(compra) %></td>
    <td><%= link_to 'Destroy', compra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Compra', new_compra_path %>
