<p id="notice"><%= notice %></p>

<p>
  <b>Cliente:</b>
  <%= @venta.cliente %>
</p>

<p>
  <b>Fecha:</b>
  <%= @venta.fecha %>
</p>

  <b>Detalle Venta:</b>
  <table class="table table-striped">
  	<th>Producto</th>
  	<th>Cantidad</th>
  	<th>PU</th>
  	<th>Subtotal</th>
	  <% @venta.importe = 0.0 %>  	
  	  <% @venta.detalle_ventas.each do |dv| %>
	  	<tr>
	  		<td> 
	  			<%= dv.producto %>
	  		</td>
	  		<td>
	  			<%= dv.cantidad %>
	  		</td>
	  		<td>
	  			$ <%= dv.precio_unitario %>
			</td>
			<td>
				$ <%= (dv.precio_unitario * dv.cantidad) %>
			</td>
	  	</tr>
	    <% @venta.importe = @venta.importe + (dv.precio_unitario * dv.cantidad) %>
	  <% end%>
  </table>
  <p><b>Total Venta: $ <%= @venta.importe %></b></p>

<%= link_to 'Editar', edit_venta_path(@venta) %> |
<%= link_to 'Volver', ventas_path %>
